.navBar {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 1rem;
}
h1 {
    grid-column: 1 / span 5;
}
.links {
    justify-self: center;
}
@media (min-width:700px) {
    .navBar {
        width: 100%;
        height: auto;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }
    h1 {
        text-align: center;
        grid-column: 1;
    }
    .links {
        align-self: center;
        justify-self: center;
    }
}