.singlePostDisplay {
    width: 80%;
    height: 30rem;
    margin-left: 10%;
    margin-top: 2rem;
}

.goBackButton {
    background-color: white;
}

.basicInfoFromPost {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.likesButton {
    justify-self: center;
    background-color: white;
}